[submodule "amf"]
	path = gocode/_code/amf
	url = https://github.com/free5gc/amf.git
[submodule "ausf"]
	path = gocode/_code/ausf
	url = https://github.com/free5gc/ausf.git
[submodule "n3iwf"]
	path = gocode/_code/n3iwf
	url = https://github.com/free5gc/n3iwf.git
[submodule "nrf"]
	path = gocode/_code/nrf
	url = https://github.com/free5gc/nrf.git
[submodule "nssf"]
	path = gocode/_code/nssf
	url = https://github.com/free5gc/nssf.git
[submodule "pcf"]
	path = gocode/_code/pcf
	url = https://github.com/free5gc/pcf.git
[submodule "smf"]
	path = gocode/_code/smf
	url = https://github.com/free5gc/smf.git
[submodule "udm"]
	path = gocode/_code/udm
	url = https://github.com/free5gc/udm.git
[submodule "udr"]
	path = gocode/_code/udr
	url = https://github.com/free5gc/udr.git
[submodule "openapi"]
	path = gocode/_code/openapi
	url = https://github.com/free5gc/openapi.git